* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  margin: 0;
  font-family: 'roboto-font', sans-serif;
  font-size: 16px;
  font-weight: normal;
  color: #fff;
}

p {
  margin: 0;
  padding: 0;
}

.hidden {
  display: none;
}

.container {
  height: 100%;
  background-image: url(/img/Background.png);
  background-size: cover;
}

.container-game {
  display: flex;
  height: 100%;
}

.menu {
  position: relative;
  max-width: 1440px;
}

.menu__title {
  margin: 0 0 6px 0;
  padding: 125px 0 0 103px;
  font-size: 53px;
  font-weight: bold;
  letter-spacing: 0.5px;
}

.menu__description {
  padding: 0 0 0 107px;
  margin: 0 0 55px 0;
  font-size: 18px;
  letter-spacing: 0.6px;
}

.menu-list {
  padding-left: 103px;
  margin-bottom: 108px;
  list-style-type: none;
}

.menu-list__item {
  max-width: 250px;
  padding-left: 47px;
  font-size: 50px;
  font-weight: bold;
  margin-bottom: 16px;
  cursor: pointer;
  transition: color 0.6s;
}

.menu-list__item:hover {
  color: #D62B2E;
}

.menu-list-romb {
  background-image: url(/img/Rectangle\ 2.svg);
  background-repeat: no-repeat;
  background-position-y: 22px;
}


.button {
  margin-bottom: 50px;
  margin-left: 102px;
  font-size: 32px;
  padding: 28px 88px;
  background-color: #D62B2E;
  color: #fff;
  border-radius: 10px;
  border: none; 
  transition: 0.5s;
  cursor: pointer;
}

.button:hover {
  font-size: 33px;
  box-shadow: 10px 10px 10px 10px rgba(0,0,0,0.2);
}

.menu-img {
  position: absolute;
  top: 61%;
  left: 42.8%;
}

.menu-img__card-one {
  position: relative;
  z-index: 2;
  left: 200px;
  rotate: 50deg;
}

.menu-img__card-two {
  position: relative;
  top: 30px;
  left: 35px;
  z-index: 3;
}

.cotainer-game {
  display: flex;
  height: 100%;
}

.game {
  padding-top: 10px;
  margin: auto auto;
  text-align: center;
  max-width: 800px;
}

.game-hard {
  max-width: 1300px;
}

.container-card {
  display: inline-block;
  height: 350px;
  width: 222px;
  padding-top: 5px;
  margin-bottom: 10px;
  margin-right: 10px;
  margin-left: 10px;
  background-color: transparent;
  perspective: 1000px; 
}

.container-card__card {
  margin-left: 10px;
  margin-right: 10px;
}


.inner-card {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  cursor: pointer;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}


.card-shirt,
.card-bag {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.active {
  transition: translateY 1s, transform 1s;
}

.active:hover {
  transform: translateY(10px) rotate(-3deg);
}

.click-button {
  transform: rotateY(180deg);
} 

.card-bag {
  transform: rotateY(180deg);
}


@media (max-width: 1439px) {
  .menu-img {
    height: 300px;
    width: 700px;
    position: absolute;
    top: 65%;
    left:0;
    right: 0;
    margin: 0 auto;
  }
}


@media (max-width: 1220px) {
  .container {
    width: 100%;
    height: 100%;
    background-image: url(/img/Background.png);
    background-size: cover;
  }

  .game {
      padding-top: 10px;
      margin: auto auto;
      text-align: center;
      width: 800px;
  }

  .menu-img {
    height: 300px;
    width: 700px;
    position: absolute;
    top: 33%;
    left:0;
    right: 0;
    margin: 0 auto;
  }

  .game {
    padding-top: 10px;
    margin: auto auto;
    text-align: center;
    max-width: 800px;
    height: 100%;
  }
}

@media (max-width: 1150px) {
  
  .menu__title {
    padding-top: 30px;
    padding-left: 50px;
    font-size: 26px;
  }
  
  .menu__description {
    max-width: 600px;
    padding-left: 50px;
    font-size: 18px;
    letter-spacing: 0.6px;
  }


  .menu-img {
    display: none;
  }
}

@media (max-width: 727px) {
  .container-game {
    display: flex;
    height: 100%;
  }
  
  .game {
    padding-top: 10px;
    margin: auto auto;
    text-align: center;
    max-width: 500px;
    height: 100%;
  }

  .menu__title {
    padding-top: 30px;
    padding-left: 50px;
    font-size: 26px;
  }
  
  .menu__description {
    max-width: 500px;
    padding-left: 50px;
    font-size: 18px;
    letter-spacing: 0.6px;
  }
}

@media (max-width: 500px) {

  .container {
    width: 500px;
    height: 100%;
    background-image: url(/img/Background.png);
    background-size: cover;
  }

  .container-game {
    display: flex;
    height: 100%;
  }


  .menu {
    position: relative;
  }

  .menu__title {
    padding-top: 30px;
    padding-left: 50px;
    font-size: 26px;
  }
  
  .menu__description {
    padding-left: 50px;
    font-size: 18px;
    letter-spacing: 0.6px;
  }
  
  .menu-list__item {
    max-width: 250px;
    padding-left: 47px;
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 16px;
    cursor: pointer;
    transition: color 0.6s;
  }

  .menu-list-romb {
    background-image: url(/img/Rectangle\ 2.svg);
    background-repeat: no-repeat;
    background-position-y: 10px;
  }

  .button {
    margin-left: 50px;
  }  

  .game {
    padding-top: 10px;
    margin: auto auto;
    text-align: center;
    max-width: 200px;
    height: 100%;
  }
}